/* Insert your styles here */
a {
    color: #e9e7da;
    text-decoration: none;
    font-size: 20px;
}
a:link,a:visited {
    color: #e9e7da;
}
a:hover,a:active {
    color: #fff;
}
body {
    padding: 0px;
    margin: 0;
}
header {
    text-align: center;
    background: #636b46;
    color: #e9e7da;
    padding-top: 100px;

    /* background:  url('../../media/header-bg.jpg'); */
    background-size: cover;
    margin:0;
}
header h1{
    margin: 0px 15px 200px 15px;
    font-size: 75px;
    
}
nav {
    text-align: center;
    
}
ul {
    height: 50;
    padding: 10px;
    background: rgba(55, 63, 39, 0.5);
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}