/* Insert your styles here */

*,
*::before,
*::after {
  box-sizing: border-box;
  
}

header {
    display: flex;
    text-align: center;
    /* background: #636b46; */
        /* image taken from https://www.abc.net.au/ww1-anzac/gallipoli/cm/lb/200021788/data/cimage3a-naval-attacks-data.jpg for educational purposes */
    background-image: url("/media/header_bg.jpg");
    background-size: cover;
    background-position: 65% 30%;
    filter: sepia(0.4);
    color: #e9e7da;
    padding: 4em 2em;
    background-size: cover;
    margin:0;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(223, 177, 77, 0.6);
    /* text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.7); */
    
}

header img {
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.5), -2px -2px 1px rgba(223, 177, 77, 0.6);
}
header p{
    margin: 0;
    line-height: 1em;
    font-size: 5vw;
    font-weight: bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    top: 0em;
    background-color: #373f27;
    z-index: 10;
    min-width: 610px;
    
    
}



body {
    /* background: linear-gradient(top, rgba(99, 107, 70, 1), rgba(99, 107, 70, 0.2)); */
    background:#e9e7da;
        /* Image taken from https://www.civilnet.am/wp-content/uploads/2015/02/     gallipoli_turkey_visit_turkey.jpg for educational purposes */
    background-image: url('../../media/gallipoli_beach.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 80%;
    /* background: -moz-linear-gradient(top, rgba(99, 107, 70, 1), rgb(53, 58, 38));
    background: -webkit-linear-gradient(top, rgba(99, 107, 70, 1), rgb(53, 58, 38));
    background: linear-gradient(top, rgba(99, 107, 70, 1),rgb(53, 58, 38)); */
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1em;
    /* display: flex;
    justify-content: center; */
    padding: 0px;
    margin: 0;
    color: #e9e7da;
    text-shadow: 2px 2px 1px #000;
    text-align: justify;
}

main {
    
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    margin: 3em;
    font-size: 1.5em;
    /* background-image: url('../../media/gallipoli_beach.jpg');
    background-size: cover;
    background-position: 50% 80%;
    filter: opacity(1); */
}

article {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 1em;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
    
        
    
    /* background-image: url('../../media/gallipoli_beach.jpg');
    background-size: cover;
    background-position: 50% 80%;
    filter: opacity(1); */
}

/* styling for letters and postcards page */

.postcards > section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    padding: 0.5em;
    font-family: 'Stalemate', cursive;
    font-size: 1.5em;
    color: rgba(10, 10, 10, 1);
    text-shadow: none;
    margin-bottom: 1em;
    position: relative;
    /* left: 100px; */
}

/* .postcards > input:checked ~ label {

} */

/* styling labels and inputs to hide and show letters */
.postcards  label{
    display: inline;
    border: 1px solid #e9e7da;
    border-radius: 1em;
    margin: 1em 0;
    padding: 0.1em 0.5em;
    max-width: 100%;
}


    p:first-letter { font-size: 2em; }
    p:first-line { line-height: 100%; }

.postcards  label:hover {
    background-color: #cda34f;
}

input:checked + label {
    background-color: #cda34f;
}
.postcards  input{
    display: none;
    
}

.postcards > input:checked + section{
    display: block;
}

.postcards > input + section{
    display: none;
}



/*  */


article p {
    max-width: 650px;
    min-width: 500px;
}

a {
    color: #e9e7da;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 0.5em;
    border: 0.1em solid #e9e7da;
    border-radius: 1em;
}
a:link,a:visited {
    color: #e9e7da;
}
a:hover,a:active a:focus {
    color: #fff;
    background-color: #cda34f;
}

header img {
    border: 10px solid #373f27 ;
    width: 200px;
    height: auto;
    
    align-self: center;
}

input, textarea {
    padding: 10px;
    margin-bottom: 5px;
    border: solid 2px #373f27;
    border-radius: 5px;
    background-color: #e9e7da;
    color: #373f27;
    font-size: 25px;
    width: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    /* background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; */
}
.grid-label, .grid-input {
    padding: 20px;
    font-size: 30px;
    text-align: right;
}
.grid-label {
    text-align: right;
}
.grid-input {
    text-align: left;
}

footer {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}








/* Custom Checkbox css taken and adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox  */

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    border: solid 2px #373f27;
    border-radius: 5px;
    background-color: #e9e7da;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* End of custom checkbox css  */