/* Insert your styles here */

*,
*::before,
*::after {
  box-sizing: border-box;

}
label, input, a { cursor: pointer;} 

/* setup fonts */
/* all fonts sourced from google fonts, free to use under Apache License, Version 2.0. or Open Font License. */
h1, h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif;
}

p, input, textarea, label {
    font-family: 'Libre Franklin', sans-serif;
}

header > p {
    font-family: 'BioRhyme', serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.postcards p{
    font-family: 'Stalemate', cursive;
}


/* header and nav styles */
header {
    display: flex;
    flex-wrap: wrap;
    /* image taken from https://www.abc.net.au/ww1-anzac/gallipoli/cm/lb/200021788/data/cimage3a-naval-attacks-data.jpg for educational purposes */
    background-image: url('../../media/header_bg.jpg');    
    background-size: cover;
    background-position: 65% 30%;
    filter: sepia(0.4);
    color: #e9e7da;
    padding: 4vw 2vw;
    margin:0;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(223, 177, 77, 0.6);
    justify-content: space-evenly;
    align-items: center;
}
header img {
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.5), -2px -2px 1px rgba(223, 177, 77, 0.6);
    display: block;
    border: 10px solid #373f27 ;
    width: 200px;
    height: auto;    
    align-self: center;
}
header p{
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
header p span { 
    display: inline-block;
}
header .tooltip {
    position: relative;
}
header .tooltip:hover .tooltip_text {
    display: inline;
}
header .tooltip .tooltip_text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  z-index: 10;
  display: none;
  width: 200px;
  background-color: black;
  color: #e9e7da;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: sans-serif;
  text-shadow: none;
  font-size: 4px;  
}
header .tooltip .tooltip_text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  /* Nav styles */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    top: 0em;
    background-color: #373f27;
    z-index: 10;
    min-width: 600px;
}
nav a {
    color: #e9e7da;
    font-size: 1.1em;
    text-align: center;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    border: 0.1em solid #e9e7da;
    border-radius: 0.5em;
}
a:link,a:visited {
    color: #e9e7da;
}
a:hover,a:active a:focus {
    color: #fff;
    background-color: #cda34f;
    transition: 0.2s;
}

/* body and poppy flower watermark styles */
body {
    /* Image taken from https://www.civilnet.am/wp-content/uploads/2015/02/     gallipoli_turkey_visit_turkey.jpg for educational purposes */
    background-image: url('../../media/gallipoli_beach.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 80%;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0;
    color: #e9e7da;
    text-shadow: 2px 2px 1px #000;
    text-align: justify;
}
.poppy{
    width: 200px;
    height: 145px;
    background-image: url('../../media/poppy.png');
    position: fixed;
    right:0px;
    bottom: 0px;
    opacity: 50%;
    transition: 1s;   
}
.poppy:hover {
    opacity: 100%;
    transition: 1s;
}

/* main section default styles */
main {
    display: flex;
    justify-content: left;
    margin: 3vw;
    font-size: 1.5em;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}
article {
    width: 100%;
    max-width: 800px;
    min-width: 350px;
    margin: 0;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main article section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 00.5em;
    border-radius: 00.5em;
    margin-bottom: 0.5em;
}

main article section img {
    width: 100%;
    height: auto;
    margin-bottom: 0.3em;
}

.description {
    width: 50%;
    min-width: 150px;
    font-style: italic;
    line-height: 1em;
    font-size: 0.6em;
    float: left;
    margin-right: 1em;
}

/* styling for letters and postcards */
.postcards section {
    background-color: initial;
    padding: 0;    
    font-size: 1.5em;
    color: rgba(10, 10, 10, 1);
    text-shadow: none;
    margin-bottom: 1em;
}

/* Letter & Postcard flip */
div.card3D {
    width: 85vw;
    height: 52.2143vw;
    max-width: 740px;
    max-height: 454.5714px;
    position: relative;
}

div.card3D div{    
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
    backface-visibility: hidden;    
    overflow: auto;
    border-radius: 0.25em;
}

div.card3D div:nth-child(1) {    
    transform: rotateX(0deg);
  }
  div.card3D div:nth-child(2) {    
    transform: rotateX(180deg);
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5em;
  }
  div.card3D:hover div:nth-child(1) {
    transform: rotateX(180deg);
  }
  div.card3D:hover div:nth-child(2) {
    transform: rotateX(360deg);
    height: 80vh;
    transition: height 2s, transform 1s;
    z-index: 10;
  }

/* styling labels and inputs to hide and show letters */
.postcards  label{
    display: inline;
    border: 1px solid #e9e7da;
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 0.1em 0.5em;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.postcards  label:hover { 
    background-color: #cda34f;
    transition: 00.2s;
}

.postcards  input{ display: none;}

.postcards > input:checked + section{ display: block;}

.postcards > input + section{ display: none;}

/* letters content styles */
.postcards h3 {
    margin: 0.2em 1em 0.2em 0em;
    font-size: 1.5em;
    font-weight: bold;
}

.postcards img {
    max-width: 100%;
    float: left;
    margin: 0 1em 1em 0;
}

.right_align { text-align: right;}

.postcards p:first-letter { font-size: 2em;}

.postcards p:first-line { line-height: 100%;}

/* contact form and grid styles */
input, textarea {
    border: solid 2px #373f27;
    border-radius: 0.5em;
    background-color: #e9e7da;
    color: #373f27;
    font-size: 25px;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 0.5em;
}
.grid-label, .grid-input {
    padding: 0.5em 1em;
}
.grid-label {
    text-align: right;
}

/* places styles*/
.places div:nth-child(2n) {
    min-width: 100%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;    
}
.places div:nth-child(2n) h3 {    
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;    
}
.places1 {background-image: url('../../media/places\ -\ 1.png');}

.places2 {background-image: url('../../media/places\ -\ 2.png');}

.places3 {background-image: url('../../media/places\ -\ 3.png');}

.places4 {background-image: url('../../media/places\ -\ 4.png');}

.places5 {background-image: url('../../media/places\ -\ 5.png');}

.places6 {background-image: url('../../media/places\ -\ 6.png');}

.places7 {background-image: url('../../media/places\ -\ 7.png');}

.places8 {background-image: url('../../media/places\ -\ 8.png');}

.places9 {background-image: url('../../media/places\ -\ 9.png');}

.places10 {background-image: url('../../media/places\ -\ 10.png');}

.places11 {background-image: url('../../media/places\ -\ 11.png');}

.places12 {background-image: url('../../media/places\ -\ 12.png');}

.places13 {background-image: url('../../media/places\ -\ 13.png');}

.places14 {background-image: url('../../media/places\ -\ 14.png');}

.places15 {background-image: url('../../media/places\ -\ 15.png');}

.places16 {background-image: url('../../media/places\ -\ 16.png');}

.places17 {background-image: url('../../media/places\ -\ 17.png');}

.places18 {background-image: url('../../media/places\ -\ 18.png');}

.places19 {background-image: url('../../media/places\ -\ 22.png');}

.places20 {background-image: url('../../media/places\ -\ 20.png');}

.places .places20 h2{
    background-color: rgba(0,0,0, 0.7); 
    color: white;
    border: 3px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 10px auto; 
    font-family: inherit;
    font-weight: 200;
}

/* parallax template taken and adapted from https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* The image used */
    background-image: url('../../media/original_enlistment_paper.jpeg');
  
    /* Set a specific height */
    min-height: 150px;
    min-width: 100%;; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}


#show_hide_nav {
    width: 0px;
    height: 0px;
    display: none;
}  

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
        width: 100%;
        column-width: 100%;
        gap: 0.1em;        
    }
    .grid-label, .grid-input {
        font-size: 20px;
    }
    .grid-label {
        text-align: left;
        padding-bottom: 0.1em;
    }    
    nav {
        display: none;
    }
    .container {
        padding: 5px;
    }
    #menu {
        width: 70px;
        height: 70px;
        max-width: 70px;
        position:fixed;
        top: 7px;
        left: 7px;
        background-color: rgba(255, 255, 255, 0.7);
        /* hamburger icon taken from https://clawwhite87.blogspot.com/2020/07/hamburger-menu-svg-white.html for educational purposes */
        background-image: url('../../media/menu3.png');
        background-size: contain;
        border-radius: 5px;
        z-index: 11;
    }
    #show_hide_nav:checked + nav {
        position: fixed;
        display: grid;
        grid-column: auto;
        align-content: center;
        justify-content: left;
        width:100% ;
        height: 100%;
        padding: 0px 5px 5px 10px;
        background-color: rgba(55, 63, 39, 0.9);              
    } 
    nav > a {
        margin: 2px;
        padding: 2px 10px;
    }
    header {
        display: grid;
        grid-column: auto;
        justify-items: center;
    }
    header img {
        width: 150px;
        height: auto;
    }
    header p {
        font-size: 2em;
    }
    main {
        margin: 0;        
    }
    main article {
        width: 100%;
        min-width: 255px;
        border-radius: initial;
    }
    div.card3D {
        width: 90vw;
        height: 55.2857vw;
    }


}


footer {
    display: block;
    /* flex-wrap: nowrap; */
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 16;
}
footer a:hover {
    background-color: initial;
    filter: brightness(0.5);
}








/* Custom Checkbox css taken and adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox  */

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    border: solid 2px #373f27;
    border-radius: 5px;
    background-color: #e9e7da;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* End of custom checkbox css  */